{lib_dirs, []}.
{erl_first_files, []}.
{erl_opts, [{i, "include"}, {src_dirs, ["src"]}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{clean_files, ["ebin/*.beam", "priv/log/*", "rel/*"]}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "1.0.3"}},
  {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl.git", "0.10.0"}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git"}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.2"}}}  
]}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.
